<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=devise-width,initial-scsle=1">
    <title>Kitchencraft</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="css/html5reset-1.6.1.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="home">
    <header id="top">
      <div class="header_content wrapper">
        <h1><img class="headre_logo" src="/assets/logo.png" alt="CSS Cafe"></h1>
        <nav>
          <ul>
            <li id="current"><a href="index.html">Home</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Access</a></li>
          </ul>
        </nav>
      </div>
      <div id="main_image"></div>
    </header>
    <div class="contents wrapper">
      <main id="main_content">
        <section id="info">
          <h2>お知らせ</h2>
          <dl>
            <dt>2020/3/10</dt>
            <dd>リニューアルオープンしました。</dd>
            <dt>2020/4/15</dt>
            <dd>4/27（金）は設備メンテナンスのため休業いたします。</dd>
            <dt>2018/4/28</dt>
            <dd>ゴールデンウィークは休まず営業いたします</dd>
            <dt>2020/6/20</dt>
            <dd>こだわりのパンに合わせたスペシャルデザートが登場</dd>
            <dt>2020/7/10</dt>
            <dd>営業時間の一部変更について</dd>
          </dl>
        </section>
        <section id="campaign">
          <h2>キャンペーン情報</h2>
          <ul>
            <li>日頃の感謝を込めて、パスタ全品がいつもよりお得に！</li>
            <li>平日11時から14時までお得なランチタイムを実施中。</li>
            <li>バイオリン演奏付きのスペシャルディナーイベントの早期予約受付中。</li>
            <li>夏限定のスペシャルフルーツサンドを楽しもう！</li>
          </ul>
        </section>
      </main>
      <aside id="sidebar">
        <ul>
          <li>
            <a href="#">
              <img src="/assets/banner01.png" alt="季節のおすすめ商品はこちら"></a></li>
          <li>
          <a href="#">
          <img src="/assets/banner02.png" alt="お店のコンセプト"></a></li>
        </ul>
      </aside>
    </div>
    <footer>
      <ul>
        <li><a href="index.html">ホーム</a></li>
        <li><a href="#">商品情報</a></li>
        <li><a href="#">店舗紹介</a></li>
        <li><a href="#">アクセス</a></li>
        <li><a href="#">会社情報</a></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
      <small>&copy; 2020 kitchen.craft</small>
    </footer>
        <%= yield %>
  </body>
</html>
